bin/
.settings/
.metadata/

*~
*.bak
*.orig
*.log
*.log.*

src/rs/ac/bg/etf/pp1/Yylex.java
src/rs/ac/bg/etf/pp1/sym.java
src/rs/ac/bg/etf/pp1/MJParser.java
src/rs/ac/bg/etf/pp1/ast/
spec/mjparser_astbuild.cup

test/**/*.out
test/**/*.err
test/**/*.obj

.DS_Store
Thumbs.db